Source: ros-kinetic-rb1-base-control
Section: misc
Priority: optional
Maintainer: Angel Soriano <asoriano@robotnik.es>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-controller-manager, ros-kinetic-twist-mux
Homepage: http://wiki.ros.org/rb1_base_control
Standards-Version: 3.9.2

Package: ros-kinetic-rb1-base-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-controller-manager, ros-kinetic-joint-state-controller, ros-kinetic-twist-mux
Description: The rb1_base_control package
